<div class="grid">
    <div class="col-3 fixed h-full pb-8">

        <div class="mb-4 w-full max-w-24rem pr-2">
            <button class="bi bi-file-earmark-arrow-down download-button w-full"
                    label="Download mods archive"
                    pButton
                    pRipple></button>
        </div>

        <app-mod-menu></app-mod-menu>
    </div>

    <div class="col-offset-3 col-9 lg:pr-8">
        <app-mod *ngFor="let mod of mods"
                 [mod]="mod">
        </app-mod>
    </div>
</div>

