<p-card>
    <!--        START CARD HEADER-->
    <ng-template pTemplate="header">
        <div class="flex px-3 flex-row align-items-center justify-content-between bg-gray-900 border-round-top-md">
            <div>
                <p class=" font-bold text-xl">
                    Panarițiu is
                    <span class="inline-flex align-items-center">
                                {{serverStatusInfo.isOnline ? 'Alive' : 'Dead'}}
                        <i [ngClass]="serverStatusInfo.isOnline ? 'bi-hand-thumbs-up-fill text-green-600' : 'bi-hand-thumbs-down-fill text-red-600'"
                           class="bi ml-2 text-4xl"></i>
                        </span>
                </p>
            </div>

            <div *ngIf="serverStatusInfo.isOnline"
                 class="min-w-max">
                Ping: {{serverStatusInfo.ping}}
            </div>
        </div>
    </ng-template>
    <!--        END CARD HEADER-->

    <!--        START CARD CONTENT-->
    <div *ngIf="serverStatusInfo.isOnline" class="my-0">
        <p class="text-xl">
            {{serverStatusInfo.onlinePlayersCount}} Players Online</p>

        <div *ngFor="let player of serverStatusInfo.onlinePlayers"
             class="mb-2 flex align-items-center">
            <p-avatar class="mr-2"
                      image="https://source.boringavatars.com/beam/120/{{player}}?colors=08E7FF,3931AE,9429B8,001C1C,32383B"
                      shape="circle"></p-avatar>
            {{player}}
        </div>
    </div>
    <!--        END CARD CONTENT-->

    <!--        START CARD FOOTER-->
    <ng-template pTemplate="footer">
        <div class="flex flex-row gap-2">
            <button class="p-button-outlined p-button-rounded p-button-icon-left text-green-600"
                    icon="bi bi-play-fill text-green-600"
                    label="Start"
                    pButton
                    type="button"></button>

            <button class="p-button-outlined p-button-rounded p-button-icon-left text-red-600"
                    icon="bi bi-stop-fill text-red-600"
                    label="Stop"
                    pButton
                    type="button"></button>
        </div>
    </ng-template>
    <!--        END CARD FOOTER-->

</p-card>
