<p-galleria [autoPlay]="true"
            [changeItemOnIndicatorHover]="true"
            [circular]="true"
            [containerStyle]="{'max-width': '1000px', 'background': 'black'}"
            [responsiveOptions]="responsiveOptions"
            [showIndicatorsOnItem]="true"
            [showIndicators]="true"
            [showItemNavigators]="true"
            [showThumbnailNavigators]="false"
            [showThumbnails]="false"
            [value]="(images$ | async) ?? []"
            indicatorsPosition="bottom">

    <!--    START Galleria Image -->
    <ng-template let-item pTemplate="item">
        <img [alt]="item.alt"
             [src]="item.previewImageSrc"
             class="galleria-image"/>
    </ng-template>
    <!--    END Galleria Image -->

    <!--    START Galleria Caption -->
    <ng-template let-item pTemplate="caption">
        <h4 class="text-white">{{item.title}}</h4>
    </ng-template>
    <!--    END Galleria Caption -->

</p-galleria>
