<p-galleria [autoPlay]="true"
            [changeItemOnIndicatorHover]="true"
            [circular]="true"
            [containerStyle]="{'max-width': '900px', 'background': 'black'}"
            [numVisible]="7"
            [responsiveOptions]="responsiveOptions"
            [showIndicatorsOnItem]="true"
            [showIndicators]="true"
            [showThumbnails]="true"
            [value]="images"
            indicatorsPosition="bottom">

    <!--    START Galleria Image -->
    <ng-template let-item pTemplate="item">
        <img [alt]="item.alt"
             [src]="item.previewImageSrc"
             class="galleria-image"/>
    </ng-template>
    <!--    END Galleria Image -->

    <!--    START Galleria Thumbnail -->
    <ng-template let-item pTemplate="thumbnail">
        <div class="grid grid-nogutter justify-content-center">
            <img [alt]="item.alt"
                 [src]="item.thumbnailImageSrc"
                 class="thumbnail-image"
                 style="display: block;"
            />
        </div>
    </ng-template>
    <!--    END Galleria Thumbnail -->

    <!--    START Galleria Caption -->
    <ng-template let-item pTemplate="caption">
        <h4 class="text-white">{{item.title}}</h4>
    </ng-template>
    <!--    END Galleria Caption -->

</p-galleria>
